header.header {
	background: #142678;
	padding-top: 1.5rem;

	> div {
		h1 {
			color: #fff;
		}

		max-width: 1120px;
		margin: 0 auto;

		padding: 0 1rem 12rem;

		display: flex;
		align-items: center;
		justify-content: center;
	}
}
